body {
  margin: 0;
  background: linear-gradient(180deg, rgb(55, 82, 255), rgb(255, 255, 255));
  display: flex;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

a {
  font-weight: 800;
  text-decoration: none;
}

.upper-navbar {
  background-color: var(--primary-color);
  border-bottom: 1px solid var(--hover-color);
  width: 100vw;
  height: 10vh;
  color: var(--text-color);
}

.upper-navbar ul {
  list-style: none;
  display: flex;
  color: var(--text-color);
}

.upper-navbar a {
  color: var(--text-color);
}

.upper-navbar a:hover {
  color: var(--accent-color);
}

.home-li {
  margin: auto;
}