@import url("globals.css");


* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 12pt;
}

body {
  background: rgb(255, 255, 255);
  display: flex;
  height: 100vh;
  width: 100vw;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

nav {
  width: 100vw;
  height: 60px;
  background-color: var(--white-color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 5;
  border-bottom: 1px solid #e9ecef;
  margin-bottom: 5%;
}

.links-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  align-items: center;
}

nav a {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);

}

nav a:hover {
  background-color: var(--hover-color);
  cursor: pointer;
  ;
}

nav .home-link {
  margin-right: auto;
}

nav svg {
  fill: var(--text-color);
}

.active-link {
  border-bottom: 3px solid var(--primary-color);
}

#sidebar-active {
  display: none;
}

.open-sidebar-button,
.close-sidebar-button {
  padding: 0 20px;
  display: none;
}

.planning-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.location-inputs {
  display: flex;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  width: 100%;
  padding: 12px 18px;
  font-size: 16px;
  font-family: inherit;
  box-shadow: 0 0 0 1px var(--primary-color);
  border: none;
  border-radius: 25px;
  background-color: #ffffff;
  transition: all .3s;
  font: inherit;
}

.location-search-header {
  font-family: "Crimson Text", serif;
}

.datePicker-container {
  justify-content: space-evenly;
  display: flex;
  margin-top: 3%;
  width: 100%;
}

.dateInput {
  margin-left: auto;
  margin-right: auto;
  height: 2.5em;
  width: 12.5em;
  border-radius: 2.5em;
  border: none;
  background-color: rgb(255, 255, 255);
  -webkit-filter: drop-shadow(1px 1px 10px #000);
  filter: drop-shadow(7px 7px 10px #00000059);
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(77, 77, 77);
  text-align: center;
  font-size: 14px;
  outline: 2px solid rgba(0, 0, 0, 0);
  transition: outline-offset 0.5s ease, outline-color 0.5s ease,
    height 0.5s ease, width 0.5s ease, filter 0.5s ease;
}

.dateInput:focus {
  outline-offset: 0.5em;
  outline-color: rgba(0, 0, 0, 0.228);
  transition: 0.2s;
  height: 3em;
  width: 13em;
  -webkit-filter: drop-shadow(1px 1px 10px #000);
  filter: drop-shadow(-7px 7px 10px #00000059);
}

.dateInput::placeholder {
  padding-left: 0.8em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  transform: translateX(-6px);
  transition: transform 0.5s ease;
}

.dateInput:focus::placeholder {
  transform: translateX(-85px);
  transition: 0.5s;
}

@media (max-width: 550px) {

  .links-container {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;
    background-color: var(--primary-color);

    box-shadow: -5px 0 5px rgba(0, 0, 0, .25);
    transition: .75s ease-out;
  }

  nav a {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;

    justify-content: flex-start;
  }

  .open-sidebar-button,
  .close-sidebar-button {
    padding: 20px;
    display: block;
  }

  #sidebar-active:checked~.links-container {
    right: 0;
  }

  #sidebar-active:checked~#overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
}