@import url("globals.css");

body {
  margin: 0;
  background: linear-gradient(180deg, rgb(55, 82, 255), rgb(255, 255, 255));
  display: flex;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

a {
  font-weight: 800;
  text-decoration: none;
}

nav {
  background-color: var(--primary-color);
  border-bottom: 1px solid var(--hover-color);
  width: 100vw;
  height: 10vh;
  color: var(--text-color);
}

nav ul {
  list-style: none;
  display: flex;
  color: var(--text-color);
}

.home-li {
  margin-right: auto;
}

nav a {
  display: flex;
  text-decoration: none;
  color: var(--text-color);
  padding: 1em 2em;
  transition: background-color 150ms ease;
}

nav a:hover {
  background-color: var(--hover-color);
}

nav a.active-link {
  border-bottom: 2px solid var(--text-color);
}

nav a.accent-link {
  background-color: var(--accent-color);
}