@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: #eabeff;
  --background-end-rgb: #8f8f8f;

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: #6649AE;
  --card-border-rgb: 131, 134, 135;
  --primary-color: #F4741F;
  --hover-color: #e7e7e7;
  --accent-color: #0071FF;
  --text-color: #000000;
  --white-color: #ffffff;


  --footer-top-bg: #f3f4f5;
  --footer-top-text: #e9ecef;
  --footer-top-heading: #343a40;
  --footer-top-link-hover: #0056b3;

  --footer-bottom-bg: #343a40;
  --footer-bottom-text: #adb5bd;
  --footer-bottom-link-hover: #ffffff;

}

nav {
  width: 100%;
  height: 60px;
  background-color: var(--white-color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 5;
  border-bottom: 1px solid var(--footer-top-text);
  margin-bottom: 5%;
}

.links-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  align-items: center;
}

nav a {
  font-size: .900rem;
  font-weight: bold;
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);

}

nav a:hover {
  background-color: var(--hover-color);
  cursor: pointer;
  ;
}

.marginToRight {
  margin-right: 1vw;
}

nav .home-link {
  margin-right: auto;
}

nav svg {
  fill: var(--text-color);
}

.active-link {
  border-bottom: 3px solid var(--primary-color);
}

.settings-btn {
  display: block;
  transition: transform 0.4s ease-in;
}

.settings-btn:hover {
  transform: rotate(60deg);
}

.settings-btn:active {
  animation: rot 1s linear infinite;
}

.sign-up-button {
  height: 2rem;
  --secondary-color: #fff;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  color: var(--white-color);
  background: var(--primary-color);
  transition: background .2s;
  gap: .6em;
  font-weight: 700;
  font-size: small;
  margin-right: 2%;
  align-items: center;
  gap: 0.6em;
  display: flex;
  font-weight: bold;
}

.arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--white-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

.sign-up-button:hover {
  background-color: var(--text-color);
}

.sign-up-button:hover .arrow {
  background: var(--white-color);
}

.sign-up-button:hover .arrow:before {
  right: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}